* {
  margin: 0;
  padding: 0;
  border: none;
  outline: none;
  box-sizing: border-box;
  list-style: none;
  font-family: Poppins, serif;
  font-style: italic;
  text-transform: capitalize;
  letter-spacing: 0.5px;
  color: var(--cortema-texto);
}

:root {
  --cortema-texto: #333;
  --cortema-1: #6c63ff;
  --cortema-2: #eaeaea;
  --transicao: 1s;
}

html,
body {
  height: 100%;
  background-color: var(--cortema-2);
  align-content: center;
}

body {
  padding: 2%;
  height: auto;
  min-height: 100dvh;
  color: var(--cortema-texto);
}

.center {
  background-color: white;
  max-width: 900px;
  margin: 0 auto;
  border-radius: 20px;
  text-align: center;
  padding: 1%;
  box-shadow: 0 0 3px var(--cortema-texto);
}

h1,
p,
input,
button {
  margin: 0 0 20px;
}

h1 {
  font-weight: 600;
  font-size: 30px;
}

input,
button {
  width: 60%;
  background: transparent;
  border: 1px solid var(--cortema-1);
  height: 40px;
  padding: 0 10px;
  margin: 20px 10px;
}

button {
  width: 20%;
  background-color: var(--cortema-1);
  color: white;
  cursor: pointer;
}

button:hover,
li:hover {
  opacity: 0.8;
}

.menssage {
  color: var(--cortema-1) !important;
}

.apagarTudo {
  margin: 0 20px;
  width: 100px;
  background-color: red;
  border-radius: 20px;
  border-color: var(--cortema-texto);
  justify-self: right;
}

ul.lista{
  overflow-y: scroll !important;
}

li {
  background-color: var(--cortema-2);
  border: 1px solid var(--cortema-1);
  padding: 0.8%;
  border-radius: 5px;
  margin: 10px 0;
  display: flex;
  justify-content: center;
}

.feito {
  background-color: transparent !important;
  text-decoration: line-through;
  opacity: 0.5;
}

li h3 {
  width: 100%;
  cursor: pointer;
  overflow-y: auto;
}

li a > * {
  cursor: pointer;
  background-color: red;
  color: var(--cortema-2);
  padding: 5px;
  border-radius: 50%;
}

/*--------- Dark Mode ---------*/

h1,
h3,
p,
.center,
body,
li,
button,
a,
ul {
  transition: color var(--transicao), background-color var(--transicao),
    opacity var(--transicao);
}

.toggle-mode {
  text-align: center;
  margin: 0;
  display: block;
  width: 90px;
  border-radius: 20px;
}

body.dark-mode {
  background-color: #121212;
  color: var(--cortema-2);
}

section.dark-mode {
  background-color: #1e1e1e;
  box-shadow: 0 0 3px white;
}

section.dark-mode * {
  color: var(--cortema-2);
}

ul.dark-mode li {
  background-color: var(--cortema-texto);
  color: var(--cortema-2);
}

ul.dark-mode li h3 {
  color: var(--cortema-2);
}

/* --------- Responsividade -------------*/

@media screen and (max-width: 768px) {
  input,
  button,
  .apagarTudo {
    width: 95%;
    margin: 10px 0;
    justify-self: center;
    border-radius: 10px;
  }

  .toggle-mode {
    margin: 0 0 20px;
  }

  li a > * {
    padding: 10px;
    border-radius: 50%;
  }
}

/* Footer */

footer {
  margin-top: 100px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: inherit;
  border-top: 1px solid var(--cortema-texto);
  letter-spacing: 1px;
  color: inherit;
}


footer p, footer a{
  color: inherit;
  margin: 0;
}

footer i {
  padding: 5px;
  border-radius: 50%;
  font-size: 25px;
  color: inherit;
}

footer i:hover {
  background-color: var(--cortema-1);
  color: white;
}

.redesSociais > *{
  margin: 0 20px;
}

@media screen and (max-width: 700px) {
  footer {
    flex-direction: column;
  }
}
